<!-- <body>
    <div class="card">
        <div class="img-container">
            <img src="assets/images/img-1.jpg">
        </div>
        <div class="details">
            <h2>Deepak Singh</h2>
            <p>MEAN Stack Developer</p>
        </div>
    </div>
</body> -->
<div class="row main-div">
    <ul>
        <li>
            <a href="#">
                <i class="fa fa-thumbs-up"></i>
                <span> - Like </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-comments"></i>
                <span> - Comments </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-share"></i>
                <span> - Share </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bell"></i>
                <span> - Subscribe </span>
            </a>
        </li>
    </ul>
</div>